/* laptop */
@media (max-width:1280px){
    .right-section {
        gap: 10px;
        max-width: 400px;
}

.wk-icon-serial-2 {
    padding: 5px 9.5px;
    left: 660px;
}

.wk-icon-serial-1 {
    padding: 5px 10px;
    left: 233px;
}

.wk-icon-serial-3 {
    padding: 5px 10px;
    top: 45px;
    right: 121px;
}

.work-flow-one img{
    width: 300px;
    left: 260px;
}

.work-flow-two img {
    width: 300px;
    right: 248px;
    top: 40px;
}

.location p {
    color: var(----white);
    width: 250px;
}

.mobile-menu{
    display: none;
}

.work-contain {
    flex: 1;
}

.imag-section-content {
    display: flex;
    gap: 7px;
}

.btn-6{
    display: none;
}

}

/* table landscape */
@media (max-width:992px){

    .about-us-container {
    flex-direction: column;
}

.imag-section-bottom {
    width: 280px;
    top: 180px;
}

.wk-icon {
    padding: 26px 26px;
}

.wk-icon-serial-2 {
    padding: 2px 10px;
    left: 53.5%;
    top: 13%;
}

.wk-icon-serial-1 {
    padding: 2px 12px;
    left: 177px;
    top: 13%;
}

.wk-icon-serial-3 {
    padding: 2px 10px;
    top: 13%;
    right: 8.8%;
}

.work-flow-one img{
    width: 220px;
    left: 21.7%;
}

.work-flow-two img {
    width: 220px;
    left: 56.4%;
}

.wk-icon-details p {
    font-size: 13px;
}

.app-hero-section {
    top: 140px;
    width: 70px;
    height: 70px;
}

.second-layer-con-tent {
    padding: 68px 0 0 20px;
    font-size: 20px;
    line-height: 20px;
}

.app-pagination {
    left: -140px;
}

.btns-size-primary {
    width: 299px;
}

.app-hero-section svg {
    display: flex;
    justify-content: center;
    margin-left: -1px;
    margin-top: -5px;
}

.fst-imgh{
    width: 300px;
}

.about-us-left-side img {
    width: 920px;
    height: 596px;
}

.about-right {
    width: 920px;
}

.menu-item{
    width: 200px;
    justify-content: center;
    padding: 0 50px 0 50px;
}

.menu-item li{
    gap: -2px;
}

.slider-contain{
    flex-direction: column;
    padding: 40px 0;
}

.left-contain{
    align-self: flex-start;
    padding: 0 0 0 20px;
}

.site-title img{
    width: 120px;
}

.pfo-img-2 {
    width: 400px;
    height: 370px;
}

.second-img-text {
    padding: 28px 21.38px 36px 30px;
    width: 370px;
    top: 62.5%;
}

.pfo-img img {
    width: 400px;
    height: 370px;
}

.btn-6{
    display: none;
}

.cnt-text h3 {
    font-size: 31px;
    line-height: 47px;
}

.cnt-img img {
    top: -108.3px;
    right: 400px;
}

.price-total {
    left: 80px;
}

.tsml-service-items p {
    font-size: 11px;
    line-height: 24px;
}

.tsml-pagination {
    display: flex;
    justify-content: center;
}

.blg-cards-h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.cln-blg {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;
}

.call-txtt span {
    font-size: 14px;
    line-height: 22px;
}

.main-form h3 {
    font-size: 16px;
}

.form-fot form input {
    max-width: 272px;
    width: 220px;
    height: 56px;
}

.main-form {
    display: flex;
    align-items: center;
    gap: 40px;
}
 
.call-txtt h3 {
    font-size: 14px;
}

.call-us-section {
    gap: 10px;
    padding: 30px 140px 30px 40px;
}

.fst-ft-inf p {
    font-size: 12px;
}

.ft-menus ul li span {
    font-size: 14px;

}

.ft-blog-des h3 {
    font-size: 13px;
}

.date-ft span {
    font-weight: 400;
    font-size: 12px;
}

.address-title-ft h6 {
    font-size: 14px;
}

.address-title-ft span {
    font-size: 13px;
}

.icon-socials img {
    padding: 8px 10px;
    margin-left: 1px;
    margin-top: 3px;
}

.right-sections p {
    font-size: 12px;
}

.right-sections h3 {
    font-size: 18px;
}

}

/* tablet potrait*/
@media (max-width:768px){

    .wk-icon-details p {
    font-size: 10px;
}

.wk-icon-details h3 {
    font-size: 21px;
}

.pfo-title h3 {
    font-size: 28px;
    line-height: 44px;
}

.pricing-title h3 {
    font-size: 28px;
}

.tesml-title h3 {
    font-size: 28px;
}

.blg-fst-title h3 {
    font-size: 28px;
    line-height: 44px;
}

.work-flow-one img{
    width: 155px;
}

.work-flow-two img {
    width: 155px;
    left: 57%;
}

.work-shape-1 {
    z-index: -1;
}

.wk-icon-serial-2 {
    left: 54%;
}

.wk-icon-serial-1 {
    left: 19%;
}

.wk-icon-serial-3 {
    right: 6.3%;
}

.appoinment {
    height: 1160px;
}


.btns-size-primary {
    width: 198px;
}

.btns-size-primary a {
    display: flex;
    gap: 5px;
    font-weight: 500;
    font-size: 11px;
    line-height: 22.5px;
}

.FIRST-LAYER-CONTENT {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 56px 0 0 0;
}

.FIRST-LAYER-CONTENT input{
    width: 160px;
}

.imag-section-bottom {
    width: 280px;
    top: 180px;
}

.app-pagination {
    position: absolute;
    top: 91%;
    left: -32%;
}

.fst-imgh {
    width: 230px;
}

.imag-section-bottom {
    width: 220px;
    top: 87%;
}

.second-layer-con-tent {
    padding: 68px 0 0 20px;
    font-size: 14px;
    line-height: 20px;
}

.con-tent-inf-main {
    padding-left: 20px;
}

.con-inf p {
    font-size: 12px;
    line-height: 24px;
}

.app-hero-section {
    position: absolute;
    background-color: var(----white);
    padding: 20px 20px;
    border-radius: 50%;
    top: 66%;
    left: 25px;
    width: 70px;
}

.right-section {
    flex-wrap: wrap;
}

.about-right {
    width: 720px;
}

.about-us-left-side img {
    padding: 0 100px 0 100px;
}

.rounded{
    right: 20%;
}

.right-item{
    gap: 18px;
}

.work-contain {
    max-width: 348px;
}

.right-item img{
    padding: 0;
}

.left-section {
    flex-direction: column;
}

.tob-bar-contain {
    padding: 10px 0 10px 0;
}

.nav-contain nav{
    display: none;
}

.slider-contain {
    flex-direction: column;
    padding-top: 40px;
}

.call-us {
    top: 85px;
    left: -4%;
}

.liness {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #FFC702;
    margin-bottom: 4px;
}

.mobile-menu{
    display: block;
    padding-top: 10px;
}

.left-contain {
    padding-right: 150px;
}

.nav-contain {
    padding: 0 20px;
}

.pfo-img-2 {
    width: 350px;
    height: 320px;
}

.second-img-text {
    padding: 28px 21.38px 36px 30px;
    width: 320px;
    top: 47%;
}

.pfo-img img {
    width: 350px;
    height: 320px;
}

.btn-6{
    display: none;
}

.cnt-text h3 {
    font-size: 19px;
    line-height: 35px;
}

.cnt-btn{
    font-size: 13px;
}

.cnt-btn svg {
    padding-top: 5px;
}

.cnt-img img {
    top: -69.2%;
    right: 45%;
    height: 250px;
}

.main-pricing-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.pricing-item {
    background: var(----white-5);
    max-width: 320px;
    width: 100%;
    border-radius: 12px;
    position: relative;
}

.price-total {
    left: 100px;
}

.tsml-second-section {
    gap: 15px;
}

.fst-tsml-card {
    width: 340px;
}

.tsml-service-items p {
    font-size: 8px;
    line-height: 24px;
}

.tsml-service-items h6 {
    font-size: 15px;
}

.star-tsml-title h6 {
    font-size: 15px;
}

.card-items {
    flex-wrap: wrap;
    justify-content: center;
}

.card-blg {
    background-color: whitesmoke;
    max-width: 325px;
    width: 100%;
    position: relative;
}

.branding-container {
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.ft-linkses {
    display: flex;
    flex-wrap: wrap;
}

.call-us-main {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.call-us-section {
    display: flex;
    align-items: center;
    gap: 24px;
    background: var(----yellow);
    padding: 30px 140px 30px 140px;
    border-radius: 0 0 15px 15px;
}

.about-us-subtitle {
    font-size: 28px;
    line-height: 44px;
}

.left-contain h3 {
    line-height: 62px;
    font-size: 45px;
}


}

@media (max-width:480px){
    .top-bar {
   display: none;
}

.wk-icon-serial-2 {
    top: 39%;
    left: 54.6%;
}

.wk-icon-serial-1 {
    top: 4%;
    left: 54.6%;
}

.wk-icon-serial-3 {
    top: 74.4%;
    right: 39%;
}

.work-shape-1 {
    position: absolute;
    top: 20%;
}

.Working-proccess-serial {
    flex-direction: column;
}

.FIRST-LAYER-CONTENT {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.FIRST-LAYER-CONTENT input{
    width: 400px;
}

.btns-size-primary {
    width: 480px;
}

.btns-size-primary a{
    font-size: 15px;
}

.imag-section-content {
    flex-direction: column;
    align-items: center;
    gap: 300px;
}

.appoinment {
    height: 2550px;
}

.about-us-left-side img {
    width: 600px;
    height: 300px;
}

.about-right {
    width: 400px;
}

.about-right-section {
    gap: 20px;
}

.about-us-subtitle {
    font-size: 30px;
    line-height: 39px;
}

.about-us-p {
    font-size: 11px;
}

.about-description h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(----extra-dark-blue);
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-us-container {
    gap: 30px;
}

.experience img{
    width: 50px;

}

.work-main {
    justify-content: center;
}

.right-sections img {
    width: 380px;
    height: 380px;
}

.call-us {
    position: relative;
    top: 70px;
    left: -20px;
}

.contact-info {
    position: absolute;
    top: 41px;
    left: 20.5px;
}

.call-contain h3 {
    font-size: 12px;
}

.contact-info h6 {
    font-weight: 800;
    font-size: 12px;
    padding: 0 25px;
}

.svgg{
    width: 120px;
}

.work-contain {
    flex-shrink: 1;
}

.work-flow-one img{
    display: none;
}

.work-flow-two img {
    display: none;
}

.pfo-title-section {
    display: flex;
    align-items: center;
}

.pfo-title h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 34px;
    margin-bottom: 60px;
}

.btn-primary{
    display: flex;
    align-self: flex-end;
}

.pfo-img-2 {
    width: 300px;
    height: 270px;
}

.second-img-text {
    padding: 28px 21.38px 36px 30px;
    width: 280px;
    top: 48.7%;
}

.pfo-img img {
    width: 300px;
    height: 270px;
}

.second-img-text-inf h3 {
    font-size: 16px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 25px;
}

.cnt-img img {
    top: -31.5%;
    right: 10%;
    height: 230px;
}

.cnt-text h3 {
    font-size: 13px;
    line-height: 26px;
    padding-bottom: 5px;
}

.cnt-btn {
    background-color: var(----yellow);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 11px;
}

.main-pricing-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.pricing-item {
    background: var(----white-5);
    max-width: 390px;
    width: 100%;
    border-radius: 12px;
    position: relative;
}

.price-total {
    left: 130px;
}

.pricing-title h3 {
    font-size: 34px;
    line-height: 54px;
}

.tsml-second-section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.fst-tsml-card {
    width: 400px;
}

.tsml-service-items p {
    font-size: 10px;
    line-height: 24px;
}

.tesml-title h3 {
    font-size: 29px;
    line-height: 32px;
}

.left-contain h3 {
    line-height: 42px;
    font-size: 30px;
}

.left-contain p {
    font-size: 14px;
    line-height: 24px;
}

.btn-primary-res{
    display: none;
}

.card-items {
    flex-direction: column;
    align-items: center;
}

.card-blg {
    background-color: whitesmoke;
    max-width: 408px;
    width: 100%;
    position: relative;
}

.blog-title {
    align-items: flex-end;
}

.blg-fst-title h3 {
    font-size: 19px;
    line-height: 29px;
}

.branding-container {
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    padding: 20px 30px 20px 30px;
}

.app-heading {
    font-size: 24px;
}

.ft-linkses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.main-form h3 {
    font-size: 12px;
}

.form-fot form input {
    max-width: 272px;
    width: 170px;
    height: 56px;
}

.form-fot form button {
    border: none;
    padding: 13px 20px;
}

.main-form{
    gap: 10px;
}

.socials-ft-main {
    display: flex;
    gap: 12px;
    padding-top: 28px;
    padding-bottom: 37px;
}

.app-pagination {
    display: none;
}

.about-us-subtitle {
    font-size: 21px;
    line-height: 34px;
}

.second-layer-title h3 {
    font-size: 21px;
}

.app-heading {
    font-size: 21px !important;
}

.working-pos-title h3 {
    font-size: 21px;
}

.working-pos-title h6 {
    font-size: 14px;
}

.working-pos-title p {
    font-size: 12px;
    line-height: 24px;
}

.pricing-title h3 {
    font-size: 21px;
}

.pricing-title h6 {
    font-size: 14px;
}

.tesml-title h3 {
    font-size: 21px;
}

.tesml-title h6 {
    font-size: 14px;
}

.call-bkg {
    background: var(----white);
    padding: 12px;
}

.call-us-section {
    padding: 30px 40px 30px 40px;
}

.copyrights p {
    font-size: 14px;
}

}

/* extra mobile */
@media (max-width:375px){

.Working-proccess-serial {
    align-items: center;
}

.work-shape-1 {
    top: 26%;
}

.my-work {
    margin-top: 20px;
}

.FIRST-LAYER-CONTENT input{
    width: 320px;
}

.btns-size-primary {
    width: 410px;
}

.second-layer-title h3{
    font-size: 24px;
    line-height: 29px;
}

.appoinment {
    height: 2400px;
}

.left-contain h3 {
    line-height: 52px;
    font-size: 30px;
    width: 300px;
}

.app-heading {
    font-size: 24px;
    line-height: 29px;
}

.about-us-left-side img {
    width: 515px;
}

.about-right-section {
    flex-direction: column-reverse;
}

.about-us-subtitle {
    font-size: 23px;
    line-height: 34px;
}

.about-us-p {
    font-size: 9px;
    line-height: 24px;
}

.about-right {
    width: 515px;
    padding-left: 101px;
}

.btn-size-primary {
    max-width: 212px;
    display: none;
}

.btn-primary {
    display: none;
}

.btn-size-primary-res{
    max-width: 212px;
}

.btn-primary-res{
    background-color: var(----yellow);
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
}

.btn-primary-res a{
    color: var(----extra-dark-blue);
    display: flex;
    align-items: center;
    gap: 7.61px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
    justify-content: center;
}

.mobile-menu {
    display: block;
    padding-bottom: 8px;
}

.right-sections img {
    width: 310px;
    height: 310px;
}

.wk-icon-serial-2 {
    top: 39%;
    left: 58.7%;
}

.wk-icon-serial-1 {
    top: 4%;
    left: 58.7%;
}

.wk-icon-serial-3 {
    top: 74.4%;
    right: 31.7%;
}

.btn-6{
    background-color: var(----yellow);
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
    display: block;
    margin-bottom: 20px;
    margin-left: 120px;
}

.btn-size-6{
    max-width: 212px;
}

.btn-size-6 a{
    color: var(----extra-dark-blue);
    display: flex;
    align-items: center;
    gap: 7.61px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
    justify-content: center;
}

.pfo-title h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.pfo-title-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price-total {
    left: 100px;
}

.pricing-title h3 {
    font-size: 24px;
    line-height: 54px;
}

.fst-tsml-card {
    width: 320px;
}

.tsml-service-items p {
    font-size: 7px;
}

.res-cotation-icon{
    width: 40px;
}

.tesml-title h3 {
    font-size: 24px;
    line-height: 32px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

}

.card-items{
    margin-top: -50px;
}

.branding-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.working-pos-title h3 {
    font-size: 24px;
    line-height: 54px;
}

.form-fot form input {
    max-width: 272px;
    width: 100px;
    height: 56px;
}

.form-fot form button {
    border: none;
    padding: 13px 12px;
}

.call-txtt h3 {
    font-weight: 600;
    font-size: 12px;
}

.call-txtt{
    width: 140px;
}

.call-bkg {
    padding: 13px;
}

.call-us-section {
    padding: 30px 77px 30px 40px;
    border-radius: 0 0 15px 15px;
}

}