* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

nav {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 9px 22px;
  font-family: "Vollkorn", serif;
}

.d-flexi {
  gap: 42px;
}

.d-flexx {
  display: flex;
}


.d-flex select {
  border: none;
  outline: none;
  background-color: transparent;
}

.navbar-nav {
  gap: 59px;
}

.nav-item a {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  font-weight: 500;
}

.size-img {
  width: 52px;
}

.play-text {
  font-weight: 500;
  font-size: 17px;
}

.left-section h5 {
  color: #df6951;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 27px;
}

.left-section div h3 {
  font-family: "Vollkorn", serif;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -4%;
  color: #181e4b;
  padding-bottom: 27px;
}

.left-section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
  padding-bottom: 34px;
}

.topi-0 {
  top: 17%;
  left: 46%;
}

.pulse{
    padding: 15px 15px;
    animation: animate-pulse 3s linear infinite;
    cursor: pointer;
}
@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.7),  0 0 0 0 rgba(255,109,74,0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(255,109,74,0.7);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    
}

.cards{
  max-width: 250px;
  width: 100%;
  padding-top: 20px;
}

.cards:hover{
  background-color: white;
  box-shadow: 0 0 15px #44444432;
  transform: translateY(-0.6rem);
  border-radius: 40px;
}

.cards h6{
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.cards p{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5E6282;
  text-align: center;
}

.hero-title h6{
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
}

.hero-title h3{
  font-weight: 700;
  font-size: 50px;
  line-height: auto;
  color: #14183E;
  margin-bottom: 56px;
}

.category{
  margin-top: 112px;
}
